.navBar {
    grid-area: navBar;
    background-color: blueviolet;
    padding: 20px;
}

.item a {
     text-decoration: none;
     color: white;
 }
.item a.active  {
    color: cyan;
}
.SideBar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.titleSideBar {
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 15px;
    color: black;
}